#image {
  height: 150px;
  width: 100px;
  -o-object-fit: contain;
}

.predictions{
	  position: fixed;
	  top: 52%;
	  right: 25%;
	  margin-top: -50px;
	  margin-left: -100px;
	  max-width:170px;
}

.error{
	right: 10%;
	bottom: 100px;
	color: red;
		  margin-top: -150px;
	  margin-left: 270px;
}

.selections{
    max-width: 300px;

}

.Analyze{
	max-width: 400px;
}

.htmltable{
	max-height: 200px;
}
