@media all and (min-width: 480px) {
  .Login {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 160px;
  }

  .Upload {
  float:right;
  height: 250px;
  width:440px; 
  padding:3px; 
  position: fixed;
  top: 25%;
  left: 10%;
  margin-top: -50px;
  margin-left: -100px;
  }

  .htmltable{
    font-size: 12;
   height:400px;
   width:3600px;
   overflow-y:auto;
  }

  .Upload form {

    margin: 0 auto;
    max-width: 250px;
  }


  .title{
  	font-size: 32;
  	padding-bottom: 10px;
  }

  .error{
  	color: red;
  }

  .validation{
	color: green;
   }

   .waiting{
    color: red;
   }

   .complete{
    color: green;
   }

   .processing{
    color: orange;
   }


}