* {
        margin: 0;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
    }

body {
  margin: 0px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;

}


.container {
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.space-list-items {
  margin-bottom: 7px;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  text-align: center;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.home-container {
  margin-top: 15px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.nav {
  background-image: url("UMW-Banner.png");
  padding-left: 275px;
  padding-top: 60px;
  text-align: left;
  height: 25px;
  color: white;
  display: flex;
}

.nav li {
  color: white;
  margin-right: 15px;
}

.nav li.c2{
  color: white;
}

.active {
  font-weight: bold;
  color: white;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: left;
}

.column input {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 20%;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  margin: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}

h1{
  font-size: 24px;
  margin-bottom: 10px;
}

.inactive{
  color: white;
}

.active{
  color: white;
}

.break{
  padding-bottom: 10px;
}

.footer {
   font-size: 12px;
   display: wrap;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(208, 211, 216);
   color: black;
   text-align: left;
   padding-bottom: 5px;
}

.footertext{
  font-style: italic;
  margin-left: 50px;
}

ol.a {
    list-style-type: circle;
}

